* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.navbar {
    background-color: #1F2937;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.navbar ul {
    font-size: 18px;
    color: #E5E7EB;
}

.navbar .links {
    display: flex;
    gap: 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    background-color: #1F2937
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.header .container .hero {
    width: 450px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero a {
    color: #F9FAF8;
    margin-top: 10px;
    background-color: #3882F6;
    padding: 10px 34px;
    display: inline-block;
    border-radius: 8px;
    font-weight: 800;
}

.container .placeholder {
    background-color: grey;
    height: 275px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .container{
    height: 500px;
}

.container .content {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.images img {
    width: 200px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 5px;
}

.container .content h2 {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
}

.text {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.information div p {
    width: 150px;
}

.information .container .text p {
    text-align: center;
}

.quotesection {
    height: 100%;
    background-color: #E5E7EB;
    font-size: 36px;
    color: rgb(31, 41, 55, 0.8);
}

.quotesection .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.quote p {
    width: 825px;
    line-height: 1.3;
}

.quotee p {
    color: #1F2937;
    font-weight: 800;
    margin-left: 445px;
    font-size: 30px;
}